{% extends "layout.html" %} {% block content %}

<style>
  :root {
    --dispHeader: none !important;
  }
</style>
<script>
  window.onload = () => {
    document.querySelectorAll(".nav-item").forEach((n) => {
      if (n.innerText == "Chart") {
        n.classList.add("active");
      }
    });
  };
</script>
<div class="container my-5">
  <div class="d-flex flex-row justify-content-around">
    <h1>
      Number Patient with
      <br />
      Different Stages
    </h1>
    <h1>Accuracy Plot</h1>
  </div>
  <div class="d-flex flex-row justify-content-around">
    <div id="piechart_3d" style="width: 100%; height: 500px"></div>
    <div id="container" style="width: 100%; height: 500px"></div>
  </div>
</div>
{% endblock %}
