{% extends "layout.html" %} {% block content %}
<style>
  :root {
    --dispHeader: none !important;
  }

  .content-section {
    margin-top: 5vh;
  }

  .form-title {
    padding-bottom: 10px;
  }

  .form-control-label {
    margin-bottom: 10px;
    margin-top: 3vh;
  }

  .btn-outline-info {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .btn-outline-info:hover {
    color: white;
  }

  .img-inp {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }

  label[for="picture"] {
    margin-bottom: 10px;
  }
</style>
<script>
  window.onload = () => {
    document.querySelectorAll(".nav-item").forEach((n) => {
      if (n.innerText == "Patient") {
        n.classList.add("active");
      }
    });
  };
</script>
<div class="content-section">
  <form method="POST" action="" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Patient Info</legend>
      <div class="form-group">
        {{ form.firstname.label(class="form-control-label") }} {% if
        form.firstname.errors %} {{ form.firstname(class="form-control
        form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.firstname.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.firstname(class="form-control form-control-lg") }} {%
        endif %}
      </div>

      <div class="form-group">
        {{ form.lastname.label(class="form-control-label") }} {% if
        form.lastname.errors %} {{ form.lastname(class="form-control
        form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.lastname.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.lastname(class="form-control form-control-lg") }} {%
        endif %}
      </div>

      <div class="form-group">
        {{ form.phone.label(class="form-control-label") }} {% if
        form.phone.errors %} {{ form.phone(class="form-control form-control-lg
        is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.phone.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.phone(class="form-control form-control-lg") }} {%
        endif %}
      </div>

      <div class="form-group">
        {{ form.email.label(class="form-control-label") }} {% if
        form.email.errors %} {{ form.email(class="form-control form-control-lg
        is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.email.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.email(class="form-control form-control-lg") }} {%
        endif %}
      </div>
      <div class="form-group">
        {{ form.birth_date.label(class="form-control-label") }} {% if
        form.birth_date.errors %} {{ form.birth_date(class="form-control
        form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.birth_date.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.birth_date(class="form-control form-control-lg") }}
        {% endif %}
      </div>
    </fieldset>
    <div class="form-group">
      {{ form.submit(class="btn btn-outline-info") }}
    </div>
  </form>
</div>
{% endblock content %}
